.nav-ul li{
display: inline-block;
padding: 10px;
}
.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: rgb(18, 138, 186);
}

.nav-ul li a{
  color: white;
  padding: 5px;
text-decoration: none;
}



.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color:rgb(18, 138, 186);
  color: #fff;
  padding: 12px 0;
  margin: 0;
}

.register,.product{
  margin-left: 30%;
}

.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid rgb(18, 138, 186) ;
}

.appbutton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: rgb(18, 138, 186);
  border: 1px solid ;
  cursor: pointer;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-right{
  text-align: right;
}


.logo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 20px;
}
/* ////////////////////////////// LOGIN /////////////////////// */

.login{
  margin-left: 30%;
  margin-top: 100px;
}

/* ////////////////////////////////PRODUCT////////////////////// */

.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 25px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
display: inline-block;
border: 1px solid skyblue;
padding: 5px;
width: 150px;
}

.product-list ul{
  margin: 0;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}